// COLORS
$color-grey: #373c3f;
$color-grey-light: #ebebeb;

$color-typography: #515151;

$color-cian: #19b4c6;
$color-cian-dark: #088ca5;
$color-magenta: #bc3183;
$color-purple: #5b0fa1;
$color-purple-dark: #27212c;

$color-white: #fff;
$color-black: #202529;
$color-black-blue: #27212c;

// GRID
$grid-width: 114rem;
$gutter-vertical: 0;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

// LAYOUT
$layout-intro: 4rem 2.6rem;
$layout-info: 2.3rem 2.6rem;