.section-intro-container {
    background-image: linear-gradient(to right bottom, $color-cian, $color-cian-dark);
    padding: 4rem 2.6rem;
}

.section-slogan-container {
    // padding: 1rem 2.6rem;
    background-color: blue;
    color: $color-white;
}

// .section-arrow {

// }

// .section-photos {

// }

// .section-content {

// }